body {
  background-color: #ffcf41;
  word-wrap: break-word;
}

h {
  font-size: 30px;
}

p {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 20px;
}

.article {
  border: 1px solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  box-shadow: 1px 1px 2px 3px #888888;
  background: white;
  margin-bottom: 30px;
}
.article__area {
  padding: 30px;
}

.article-list {
  width: 100%;
}

.back {
  display: none;
  margin-top: 30px;
}

.commentBoard {
  margin-top: 20px;
}
.commentBoard__redirection {
  display: flex;
  justify-content: center;
  font-size: 25px;
  color: #3b6b3b;
}
.commentBoard__redirection:hover {
  color: red;
}

.container {
  max-width: 700px;
  margin: 0px auto;
  margin-bottom: 80px;
  padding: 0px;
}

.countpeople {
  width: 35px;
  height: 35px;
}

.continue {
  color: blue;
  margin-left: 10px;
}

.comment {
  padding: 12px;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px 3px #888888;
  margin-top: 20px;
  background: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}
.comment__form {
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.comment__form__logininfo {
  display: inline;
  width: 100%;
}
.comment__form__logininfo__inputarea {
  margin-top: 15px;
  margin-right: 27%;
  border-bottom: 2px solid gray;
  outline: none;
  font-size: 25px;
}
.comment__form__button {
  margin-top: 10px;
}
.comment__form__button__set {
  margin: 15px;
  font-size: 16px;
  width: 190px;
  left: -10px;
}
.comment__form__button__set a {
  text-decoration: none;
}

.create__article {
  margin-top: 30px;
}
.create__article__form {
  display: none;
  background: white;
  padding: 40px;
  box-shadow: 1px 1px 2px 3px #888888;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}
.create__title {
  padding: 10px 20px;
  margin-top: 30px;
  width: 95%;
}
.create__content {
  padding: 30px 20px;
  margin-top: 15px;
  width: 95%;
  height: 500px;
  resize: none;
  border-width: 2px;
  outline: none;
}
.create__submitButton {
  margin-top: 30px;
}

.dropdown {
  margin-top: 20px;
}
.dropdown-menu.show {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}

.edit, .edit2 {
  width: 100%;
  text-align: right;
  right: 5px;
}

.loginBeforePost {
  margin-top: 30px;
}
.loginBeforePost a {
  color: white;
  text-decoration: none;
}

.logout {
  position: absolute;
  top: 70px;
  right: 0px;
  padding: 10px 30px;
  color: white;
}
.logout:hover {
  cursor: pointer;
}

.navBar {
  background-color: burlywood;
  box-shadow: 1px 1px 2px 3px #888888;
  justify-content: center;
  margin-top: 10px;
}
.navBar__title {
  font-size: 35px;
}

.padding0 {
  padding: 0px;
}

.pic__liveBetter {
  max-width: 547px;
  margin: 0px auto;
  margin-top: 25px;
}
.pic__liveBetter__inside {
  width: 100%;
}
.pic__swordlion {
  background-image: url("picture/swordlion.gif");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 140px;
  right: 0px;
  opacity: 0.8;
  width: 227px;
  height: 227px;
}

.pagecontainer {
  margin-top: 30px;
}

.peoplenum {
  margin-left: 15px;
  margin-top: 15px;
}

.subcomment-list {
  padding: 30px;
  width: 100%;
  border: 1px solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  box-shadow: 1px 1px 2px 3px #888888;
  background: white;
  margin-bottom: 30px;
}

.leavecomment-area {
  padding: 30px;
  width: 100%;
  border: 1px solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  box-shadow: 1px 1px 2px 3px #888888;
  background: white;
  margin-bottom: 30px;
}
.leavecomment__submitbutton {
  margin-top: 30px;
}
.leavecomment__textarea {
  padding: 30px 20px;
  margin-top: 15px;
  width: 95%;
  height: 200px;
  resize: none;
  border-width: 2px;
  border-style: solid;
  outline: none;
}

.login {
  display: flex;
  justify-content: center;
  font-size: 23px;
  flex-wrap: wrap;
}
.login__notlogin {
  width: 80px;
  height: 80px;
  border: 1px solid;
  border-radius: 200%;
  margin-top: 20px;
}

.personal {
  padding: 30px 20px;
  border: 1px solid;
  border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
  box-shadow: 1px 1px 2px 3px #888888;
  background: white;
  width: 10%;
  position: fixed;
  right: 260px;
  top: 160px;
}
.personal__icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.personal__icon__avatar {
  width: 80px;
}
.personal__userinfo {
  display: flex;
  margin-top: 20px;
}
.personal__userinfo__username {
  margin-left: 15px;
}

.reminder {
  width: 20%;
}

.userDetail {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.userDetail__avatar {
  width: 48px;
  margin-right: 20px;
}

#showbox {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .commentBoard {
    margin-top: 85px;
  }

  .container {
    max-width: 500px;
  }

  .back, .create__article {
    margin-left: 20px;
  }

  .comment__form {
    font-size: 25px;
  }
  .comment__form__logininfo__inputarea {
    margin-bottom: 15px;
    width: 90%;
  }

  .personal {
    display: none;
  }

  .pagecontainer {
    margin: 20px;
  }

  .navBar {
    margin: 20px;
  }
}
@media screen and (max-width: 1098px) {
  .pic__swordlion {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
