$picwidth:48px;
$picheight:48px;
$commentbgcolor:#b5b4b4;

body { 
	backtoArticleground-color: #ffcf41;
	word-wrap:break-word;
}
input {
	&:hover {
		cursor:pointer;
	}
}
li {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width:10%;
	font-size:20px;
}
.blog {
	margin-top:20px;
	&__redirection {
		display: flex;
		justify-content: center;
		font-size: 25px;
		color:#3b6b3b;
		&:hover {
			color:red;
		}
	}
}
.countpeople {
	width:$picwidth;
	height:$picheight;
}
.container {
	max-width:700px;
	margin: 0px auto;
	margin-bottom: 80px; 
	padding:0px; 
}
.createcomment {
	margin-top: 10px;
    backtoArticleground-color: black;
}
.comment {
	padding: 12px;
	box-sizing: border-box;
	box-shadow: 1px 1px 2px 3px #888888;
	margin-top: 20px; 
	backtoArticleground: white;
	border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
    &__avatar {
    	width:70px;
		height: 65px;
		margin:10px 10px;
    }
    &__content {
    	padding: 10px;
    	font-size: 20px;
    }
    &__createdat {
    	font-size: 14px;
		display: block;
    }
    &__userinfo {
    	text-align: left;
		padding: 10px;
	    margin-top: 5px;
	    width: 50%;
	    margin-left: 10px;
	    font-size: 20px;
    }
    &__sub {
    	display: flex;
		flex-wrap:wrap;
		justify-content: center;
		&__display {
			margin-top:15px;
			padding: 10px;
			backtoArticleground:$commentbgcolor;
			border-radius: 15px;
			width:100%;
		}
		&__message {
			display: flex;
			align-items: flex-end;
			.comment__form__textarea {
				height: 100px;
				margin-right: 10px;
				width:88%;
			}
		}
		&__form {
			padding: 10px;
		    backtoArticleground: $commentbgcolor;
		    border-radius: 15px;
		    width: 100%;
		    margin-bottom:0px;
		    .comment__icon {
		    	margin-bottom:0px;
		    }
		}
		&__notlogin {
			padding: 10px;
		    backtoArticleground: $commentbgcolor;
		    border-radius: 15px;
		    width: 100%;
		    text-align: center;
		    a {
		    	font-size: 20px;
			    text-decoration: none;
			    color: white;
		    }
		    &:hover {
	    		backtoArticleground-color: #ea2b2b;
	    	}
		}
    }
    &__form {
    	text-align: right;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: center;
	    &__button {
	    	margin-top: 10px;
	    	&__set {
	    		margin: 15px;
			    font-size: 16px;
			    width: 190px;
			    left: -10px;
			    a {
			    	text-decoration:none;
			    }
	    	}
	    }
	    &__create {
	    	margin-bottom: 0px;
   			text-align: right;
	    }
	    &__logininfo {
	    	display: inline;
	    	&__inputarea {
	    		margin-top:15px; 
				margin-right:27%;
				border-bottom: 2px solid gray;
				outline: none;
				font-size:25px;
	    	}
	    }
		&__textarea {
			padding: 10px;
		    width: 100%;
		    height: 200px;
		    resize: none;
		    outline: none;
		    border-color: black;
		    font-size: 18px;
		}
    }
    &__icon {
	    display: flex;
	    margin-bottom: 10px;
	    width:100%;
	    .comment__avatar {
	    	width:$picwidth;
	    	height:$picheight;
	    }
    }
}
.changePageContainer {
	padding:0px; 
	display: flex;
	justify-content: center;
	&__previous {
		img {
			width:$picwidth;
		}
		&:hover {
			cursor:pointer;
		}
	}
	&__next {
		img {
			width:$picwidth;
		}
		&:hover {
			cursor:pointer;
		}
	}
	&__page {
		&:hover {
			cursor:pointer;
		}
	}
}
.dropdown-menu.show {
	transform: translate3d(224px, 33px, 0px);
}
.edit , .edit2 {
	width:100%;
	text-align:right;
	right:5px;
}
.logout {
	position: absolute;
	top:70px;
	right:0px;
	padding:10px 30px;
	color:white;
	&:hover {
		cursor:pointer;
	}
}
.navBar {
	backtoArticleground-color: burlywood;
	box-shadow: 1px 1px 2px 3px #888888;
	justify-content: center;
	margin-top: 10px;
	&__title {
		font-size: 35px;
	}
}
.pic {
	&__liveBetter {
		max-width: 547px;
		margin: 0px auto;
		margin-top: 25px;
		&__inside {
			width:100%;
		}
	}
	&__swordlion {
		backtoArticleground-image: url("picture/swordlion.gif");
		backtoArticleground-size:contain; 
		backtoArticleground-repeat: no-repeat; 
		position: fixed;
		top:140px;
		right:0px;
		opacity: 0.8;
		height: 227px;
	}
}
.peoplenum {
	display: flex;
	align-items: center;
	margin-left: 15px; 
	margin-top:15px;
}
#showbox {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
	margin-top: 50px;
}

@media screen and (max-width: 768px) {
	.comment {
		margin: 20px;
	}
	.container {
		max-width: 500px;
	}
	.navBar {
		margin: 20px;
		&__title {
			font-size: 18px;
		}
	}
	.comment__form {
		font-size: 25px;
		&__logininfo {
			&__inputarea {
				margin-bottom: 15px;
				width:90%;
			}
		}
	}
	.blog {
		margin-top:60px;
	}
}
@media screen and (max-width: 1098px) {
	.pic__swordlion {
		display: none;
	}
}