
.page:hover {
	cursor:pointer;
}
.changePageContainer__previous:hover, .changePageContainer__next:hover {
	cursor:pointer;
}
li {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width:10%;
	font-size:20px;
}
@media screen and (max-width: 768px) {
	.comment {
		margin: 20px;
	}
	.comment__userinfo {
		flex-basis: 107px;
	}
	.comment__form__logininfo {
		text-align: left;
	}
	.comment__form__button__set {
		display: flex;
		justify-content: center;
		margin-left:10px; 
	}
	.navBar {
		margin: 20px;
	}
	.navBar__title {
		font-size: 15px;
	}
	.comment__form {
		text-align: left;
		font-size: 25px;
	}
	.comment__form__logininfo__inputarea {
		margin: 0px;
		margin-top: 16px;
		margin-bottom: 15px;
		width:90%;
	}
	.comment__form__button {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.comment__form__button__set {
		margin-left: 0px;
	}
	.container {
		max-width: 500px;
	}
	.blog {
		margin-top:60px;
	}
}
@media screen and (max-width: 1098px) {
	.pic__swordlion {
		display: none;
	}
}