body { 
	background-color: #ffcf41;
	word-wrap:break-word;
}
.commentBoard {
	margin-top:20px;
}
.commentBoard__redirection {
	display: flex;
	justify-content: center;
	font-size: 25px;
	color:#3b6b3b;
}
.commentBoard__redirection:hover {
	color:red;
}
.peoplenum {
	display: flex;
	align-items: center;
	margin-left: 15px; 
	margin-top:15px; 
}
.countpeople {
	width:48px;
	height:48px;
}
#showbox {
	display: flex;
	justify-content: center;
	width:100%;
	margin-bottom: 100px;
	margin-top: 50px;
}
.container {
	max-width:700px;
	margin: 0px auto;
	margin-bottom: 80px; 
	padding:0px; 
}
.pic__liveBetter {
	max-width: 547px;
	margin: 0px auto;
	margin-top:-60px;
}
.pic__liveBetter__inside {
	margin-top: 50px; 
	max-width: 100%;
}
.pic__swordlion {
	background-image: url("../commentboard/picture/swordlion.gif");
	background-size:contain;
	position: fixed;
	top:140px;
	right:0px;
	opacity: 0.8;
	height: 227px;
	width:240px;
}
.navBar {
	background-color: burlywood;
	box-shadow: 1px 1px 2px 3px #888888;
	justify-content: center;
	margin-top: 10px;
}
.navBar__title {
	font-size: 35px;
	font-weight: bold;
	display: flex;
	justify-content: center;
}
.pagecontainer {
	display: flex;
	margin-top: 30px;
	flex-wrap: wrap;
}
.subcomment-list , .leavecomment-area {
	padding:30px;
}
.article , .leavecomment-area , .subcomment-list {
	width:100%;
	border:1px solid;
	border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
	box-shadow: 1px 1px 2px 3px #888888;
	background: white;
	margin-bottom: 30px;
}
.article__area {
	padding:30px;
}
.personal {
	padding: 30px 20px;
    border: 1px solid;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
    box-shadow: 1px 1px 2px 3px #888888;
    background: white;
    width: 10%;
    position: fixed;
    right: 260px;
    top: 160px;
}
.login {
	display: flex;
	justify-content: center;
	font-size: 23px;
	flex-wrap: wrap;
}
.logout {
	position: absolute;
	top:70px;
	right:0px;
	padding:10px 30px;
	color:white;
}
.continue {
	color:blue;
	margin-left: 10px;
}
.create__article {
	margin-left: 15px;
	margin-top:30px;
}
.back {
	display: none;
	margin-left: 15px;
	margin-top: 30px;
}
.create__article__form {
	display: none;
	background: white;
    width: 100%;
    border: 1px solid;
    padding: 40px;
    box-shadow: 1px 1px 2px 3px #888888;
    margin-top: 10px;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}
.leavecomment__submitbutton {
	display: block;
    margin-top: 30px;
}
.leavecomment__textarea {
	padding: 30px 20px;
    margin-top: 15px;
    width: 95%;
    height: 200px;
    resize: none;
    border-width: 2px;
    border-style: solid;
    outline: none;
}
.article-list {
	width:100%;
}
.create__content {
	padding:30px 20px;
	margin-top:15px;
	width:95%;
	height:500px;
	resize:none;
	border-width: 2px;
    border-style: solid;
    outline: none;
}
.create__title {
	padding:10px 20px;
	margin-top: 30px;
	width:95%;
}
.loginBeforePost {
	margin-top:30px;
}
.loginBeforePost > a {
	color:white;
	text-decoration:none;
}
.create__submitButton {
	margin-top:30px;
	margin-left: 10px;
}
.dropdown {
	margin-top: 20px;
}
.dropdown-menu.show {
	display: flex;
    flex-wrap: wrap;
    padding:30px;
}
.dropdown-menu__emoji {
	font-size: 25px;
	width:30px;
	margin:5px;
}
h {
	font-size:30px;
}
p {
	margin-left: 10px;
	margin-top:10px;
	font-size: 20px;
}
.login__notlogin  {
	width: 50%;
    height: 14%;
    border: 1px solid;
    border-radius: 200%;
    margin-top: 20px;
}
.personal__userinfo {
	display: flex;
}
.description , .personal__userinfo__username {
	margin-top:20px;
}
.personal__userinfo__username {
	margin-left:10px; 
}
.personal__icon {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.personal__icon__avatar {
	width: 75%;
    height: 14%;
}
.userDetail {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.userDetail__avatar {
	width:48px;
	height:48px;
	margin-right: 20px;
}
/* 登入註冊畫面css */
.comment-display {
	padding: 12px;
	box-sizing: border-box;
	box-shadow: 1px 1px 2px 3px #888888;
	margin-top: 20px; 
	background: white;
	border-width: 2px;
    border-style: solid;
    border-radius: 25px 25px 55px 5px/5px 55px 25px 25px;
}
.comment__form {
	font-size:25px;
	margin-bottom:0px;
	width:100%;
	text-align: right;
}
.inputarea {
	margin-top:15px; 
	margin-right:27%;
	border-bottom: 2px solid gray;
	outline: none;
	font-size:25px;
}
.buttoncenter {
	display: flex;
    justify-content: center;
    margin-top: 10px;
}
.button__2 {
	margin:15px;
	padding:10px 30px; 
	font-size: 16px;
	width:190px;
	left:-10px;
}
.button__2 > a {
	text-decoration:none;
}
@media screen and (max-width: 1098px) {
	.pic__swordlion {
		display: none;
	}
	.personal {
		display: none;
	}
	.article {
		margin: 20px auto;
	}
	.comment-display {
		margin: 20px;
	}
	.comment__form__icon__userinformation {
		flex-basis: 107px;
	}
	.wrapping2 {
		text-align: left;
	}
	.comment__form {
		text-align: left;
		font-size: 25px;
	}
	.inputarea {
		margin: 0px;
		margin-top: 16px;
		margin-bottom: 15px;
		width:90%;
	}
	.buttoncenter {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.button__2 {
		margin-left: 0px;
	}
	.pagecontainer {
		margin:30px 10px;
	}
	.create__article , .loginbeforeArticle {
		margin-left: 10px;
	}
}
@media screen and (max-width: 700px) {
	.commentBoard {
		margin-top:60px;
	}
	.navBar__title {
		font-size: 21px;
	}
	.navBar {
		margin: 0px auto;
    	margin-top: 10px;
    	width: 85%;
	}
}