<html>
	<head>
		<%- include('header.ejs') %>
		<%- include('script.ejs') %>
	</head>
	<body onload="ShowTime()">
		<div class='peoplenum'>
		</div>
		<button class="btn btn-primary logout">登出</button>
		<div class="pic__swordlion"></div>
		<div class="container">
			<div class="pic__liveBetter">
				<img src="pic.gif" class="pic__liveBetter__inside"/>
			</div>
			<div class="navBar">
				<h class="navBar__title"><%= title %></h>
			</div>
			<div class="comment">
				<%- include(ejsinput) %>
			</div>
		<hr>
		<div id="showbox"></div>
	</body>

</html>
