body { 
	word-wrap:break-word;
	background-color: #37373a;
}
.pic {
	display: flex;
    justify-content: center;
    position: relative;
    top: 26%;
}
.pic__inside {
	max-width: 100%;
}
.pic2 {
	border: 1px solid;
    position: fixed;
    left: 38%;
    top: 19%;
    width: 24%;
    border-radius: 200%;
    background: #ec7d2c;
    opacity: 0.5;
}
.transform {
	top: 38%;
    left: 48%;
    position: relative;
}
.info {
	position: relative;
    top: 43%;
    left: 48%;
    color: #8888fd;
    font-size: 16px;
}
.a {
	margin-top: 10px;
}
.a > a {
	font-size: 25px;
	color:white;
}
#showbox {
	position: relative;
    top: 52%;
    left: 43%;
    color: white;
}
@media screen and (max-width: 700px) {
	.transform {
		left:42%;
		top:21%;
	}
	.info {
		left:42%;
		top:25%;
	}
	.pic {
	    top: 12%;
	}
	.pic__inside {
		max-width: 100%;
	}
	.pic2 {
	    left: 0px;
	    top: 5%;
	    width: 100%;
	}
	#showbox {
		left:20%;
		top:30%;
	}
} 
@media screen and (height: 568px) {
	.transform {
		left:39%;
		top: 6%;
	}
	.info {
		left: 40%;
    	top: 8%;
	}
	.pic {
	    top: 4%;
	}
	.pic__inside {
		max-width: 100%;
	}
	.pic2 {
	    left: 0px;
	    top: 5%;
	    width: 100%;
	}
	#showbox {
	    left: 11%;
	    top: 19%;
	}
}